In [8]:
import pandas as pd

df = pd.read_csv(
    "groupby-data/airqual.csv",
    parse_dates=[["Date", "Time"]],
    na_values=[-200],
    usecols=["Date", "Time", "CO(GT)", "T", "RH", "AH"]
).rename(
    columns={
        "CO(GT)": "co",
        "Date_Time": "tstamp",
        "T": "temp_c",
        "RH": "rel_hum",
        "AH": "abs_hum",
    }
).set_index("tstamp")

/var/folders/0v/hgyj042138z2mzg00d67ywzr0000gn/T/ipykernel_21136/3449790573.py:3: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  df = pd.read_csv(
/var/folders/0v/hgyj042138z2mzg00d67ywzr0000gn/T/ipykernel_21136/3449790573.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(

In [9]:

df.head()

                      co  temp_c  rel_hum  abs_hum
tstamp
2004-03-10 18:00:00  2.6    13.6     48.9   0.7578
2004-03-10 19:00:00  2.0    13.3     47.7   0.7255
2004-03-10 20:00:00  2.2    11.9     54.0   0.7502
2004-03-10 21:00:00  2.2    11.0     60.0   0.7867
2004-03-10 22:00:00  1.6    11.2     59.6   0.7888

In [11]:
day_names = df.index.day_name()
df.groupby(day_names)["co"].mean()

tstamp
Friday       2.543041
Monday       2.016741
Saturday     1.861077
Sunday       1.438069
Thursday     2.455505
Tuesday      2.382267
Wednesday    2.400787
Name: co, dtype: float64

In [13]:
df.groupby([df.index.year, df.index.quarter])["co"].agg(["max", "min"]).rename_axis(["year", "quarter"])

               max  min
year quarter
2004 1         8.1  0.3
     2         7.3  0.1
     3         7.5  0.1
     4        11.9  0.1
2005 1         8.7  0.1
     2         5.0  0.3

In [14]:
import pandas as pd

def parse_millisecond_timestamp(ts):
    """Convert ms since Unix epoch to UTC datetime instance."""
    return pd.to_datetime(ts, unit="ms")

df = pd.read_csv(
    "groupby-data/news.csv",
    sep="\t",
    header=None,
    index_col=0,
    names=["title", "url", "outlet", "category", "cluster", "host", "tstamp"],
    parse_dates=["tstamp"],
    date_parser=parse_millisecond_timestamp,
    dtype={
        "outlet": "category",
        "category": "category",
        "cluster": "category",
        "host": "category",
    },
)

/var/folders/0v/hgyj042138z2mzg00d67ywzr0000gn/T/ipykernel_21136/4067706088.py:7: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(

In [16]:
df.iloc[0]

title       Fed official says weak data caused by weather,...
url         http://www.latimes.com/business/money/la-fi-mo...
outlet                                      Los Angeles Times
category                                                    b
cluster                         ddUyU0VZz0BRneMioxUPQVP6sIxvM
host                                          www.latimes.com
tstamp                             2014-03-10 16:52:50.698000
Name: 1, dtype: object

In [19]:
import numpy as np

mentions_fed = df["title"].str.contains("Fed")
mentions_fed.groupby(df["outlet"], sort=False).sum().nlargest(10).astype(np.uintc)

/var/folders/0v/hgyj042138z2mzg00d67ywzr0000gn/T/ipykernel_21136/887051565.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mentions_fed.groupby(df["outlet"], sort=False).sum().nlargest(10).astype(np.uintc)

outlet
Reuters                         161
NASDAQ                          103
Businessweek                     93
Investing.com                    66
Wall Street Journal \(blog\)     61
MarketWatch                      56
Moneynews                        55
Bloomberg                        53
GlobalPost                       51
Economic Times                   44
Name: title, dtype: uint32

In [22]:

import timeit
import numpy as np


def test_apply():
    """Version 1: using `.apply()`"""
    df.groupby("outlet", sort=False)["title"].apply(
        lambda ser: ser.str.contains("Fed").sum()
    ).nlargest(10)

def test_vectorization():
    """Version 2: using vectorization"""
    mentions_fed = df["title"].str.contains("Fed")
    mentions_fed.groupby(
        df["outlet"], sort=False
    ).sum().nlargest(10).astype(np.uintc)

print(f"Version 1: {timeit.timeit(test_apply, number=10)}")
print(f"Version 2: {timeit.timeit(test_vectorization, number=10)}")

/var/folders/0v/hgyj042138z2mzg00d67ywzr0000gn/T/ipykernel_21136/1875475697.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("outlet", sort=False)["title"].apply(

Version 1: 5.019616875099018

/var/folders/0v/hgyj042138z2mzg00d67ywzr0000gn/T/ipykernel_21136/1875475697.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mentions_fed.groupby(
/var/folders/0v/hgyj042138z2mzg00d67ywzr0000gn/T/ipykernel_21136/1875475697.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mentions_fed.groupby(
/var/folders/0v/hgyj042138z2mzg00d67ywzr0000gn/T/ipykernel_21136/1875475697.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mentions_fed.groupby(
/var/folders/0v/hgyj042138z2mzg00d67ywzr0000gn/T/ipykernel_21136/1875475697.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mentions_fed.groupby(
/var/folders/0v/hgyj042138z2mzg00d67ywzr0000gn/T/ipykernel_21136/1875475697.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mentions_fed.groupby(
/var/folders/0v/hgyj042138z2mzg00d67ywzr0000gn/T/ipykernel_21136/1875475697.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mentions_fed.groupby(
/var/folders/0v/hgyj042138z2mzg00d67ywzr0000gn/T/ipykernel_21136/1875475697.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mentions_fed.groupby(
/var/folders/0v/hgyj042138z2mzg00d67ywzr0000gn/T/ipykernel_21136/1875475697.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mentions_fed.groupby(
/var/folders/0v/hgyj042138z2mzg00d67ywzr0000gn/T/ipykernel_21136/1875475697.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mentions_fed.groupby(

Version 2: 0.731287291040644

/var/folders/0v/hgyj042138z2mzg00d67ywzr0000gn/T/ipykernel_21136/1875475697.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mentions_fed.groupby(